* {
  box-sizing: border-box;
}

body {
  font-family: ASAP, sans-serif;
  width: 320px;

}

header {
  background-color:black;
  }

nav{
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
.barrita{
  width: 40px;
  height: 30,45px;
  float:right;
}

.Logo {
  width: 40px;
  height: 30,45px;
  color: white;
  float: left;
  }



h1 {
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}



@media (min-width:768px) {

}


@media (min-width:1180px) {

  }
}
